.header-container {
  border: 2px solid #32c3f1;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  position: relative; /* Agregado para posicionar el .slider */
}
.tabs {
  display: flex;
  font-size: 14px;
  background:white;
  padding: 5px;
  border-radius: 70px;
  box-shadow: 0px 6px 12px rgba(24, 94, 224, 0.15);
}

.tabs *{
z-index:4;
}
input[type="radio"]{
display: none;
}
.tab{
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width:100px;
font-size:15px;
font-weight:600;
border-radius: 70px;
cursor:pointer;
transition:color 0.15s ease-in;

}

.badge{
display: flex;
align-items: center;
justify-content: center;
width: 2rem;
height: 2rem;
margin-left: 10px;
border-radius:50%;
background: #B7F397;

}
input[type="radio"]:checked + label{
color: #042100
}
input[type="radio"]:checked + label> .badge{
background: #042100;
color: white;
}
input[id="radio-1"]:checked ~ .slider{
transform:translateX(0%);
}
input[id="radio-2"]:checked ~ .slider{
transform:translateX(100%);
}
input[id="radio-3"]:checked ~ .slider{
transform:translateX(200%);
}
.slider{
position: absolute;
display: flex;
height: 40px;
width: 100px;
background: #27d7d4;
z-index:1;
transition: 0.25s ease-out;
border-radius: 60px;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  margin-right: -120px;
}

.search-container input[type="text"],
.search-container button {
  width: auto;
  max-width: 200px;
  margin: 0 10px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
  .search-container {
    flex-direction: column;
  }

  .search-container input[type="text"],
  .search-container button {
    width: 100%;
    max-width: none;
    margin: 5px 0;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 481px) and (max-width: 1024px) {
  .search-container {
    flex-direction: column;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

h1 {
  font-size: 33px;
  text-align: center;
  margin: 10px 0;
  margin-right: 610px;
  flex: 1;
}
h2 {
  font-size: 22px;
  text-align: left;
  margin: 10px 0;
  margin-right: 610px;
  flex: 1;
}

.header-container h1 {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.login-container {
  padding: 0px;
  text-align: center;
  margin-top: -200px;
  margin-bottom: 100px;
  margin-left: -100px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
h1 {
    margin-right: 0;
    
    text-align: center;
  }
  }
  .logo {
    margin-bottom: 10px;
  }

  .login-container {
    text-align: center;
  }
  h2 {
    margin-right: 0;
}

/* Estilos para pantallas medianas */
@media (min-width: 481px) and (max-width: 1024px) {
  .header-container {
    justify-content: space-around;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
  .login-container {
    margin-left: 500px;
  }
}

