.navbar {
    background-color: #E5E5E5;
    padding: 10px;
    text-align: center;
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.logo {
    display: block;
    margin: 20px auto;
    max-width: 300px;
}
.breadcrumb {
display: block; 
max-width: 800px;
margin: 0 auto; 
padding: 10px; 
background-color: #f4f4f4; 
list-style: none; 
text-align: left; 
}

.breadcrumb a {
text-decoration: none;
color: #0275d8; 
}

.breadcrumb span {
margin: 0 5px; 
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    margin-right: -100px;
}

.divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}
.checkbox-group {
    margin-bottom: 20px;
    text-align: center;
    margin-top: -220px;
   
}

.checkbox-group label {
    display: block; 
    margin-bottom: 5px; 
}
.checkbox-group div {
    margin-right: 20px;
}


.btn-group {
    display: flex;
    justify-content: flex-end;
}

.btn-group button {
    margin-left: 10px;
}