.header-container {
  border: 2px solid #32c3f1;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
a {
  color: #fff;
}

.button 
{
  background-color: #32c3f1;
  color: #FFF;
 
}


.navcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 650px;
  margin-bottom: 8px;
  position: relative; 
}
.tabs {
  display: flex;
  font-size: 14px;
  background:white;
  padding: 5px;
  border-radius: 70px;
  box-shadow: 0px 6px 12px rgba(24, 94, 224, 0.15);
}

.tabs *{
z-index:4;
}
input[type="radio"]{
display: none;
}
.tab{
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width:100px;
font-size:15px;
font-weight:600;
border-radius: 70px;
cursor:pointer;
transition:color 0.15s ease-in;

}


input[type="radio"]:checked + label{
color: #042100
}
input[type="radio"]:checked + label> .badge{
background: #042100;
color: white;
}
input[id="radio-1"]:checked ~ .slider{
transform:translateX(0%);
}
input[id="radio-2"]:checked ~ .slider{
transform:translateX(100%);
}
input[id="radio-3"]:checked ~ .slider{
transform:translateX(200%);
}
.slider{
position: absolute;
display: flex;
height: 40px;
width: 100px;
background: #32c3f1;
z-index:1;
transition: 0.25s ease-out;
border-radius: 60px;
}


.search-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  margin-left: 0;
  margin-right: -100px;
}

.search-container input[type="text"],
.search-container button {
  
  width: auto;
  max-width: 200px;
  margin: 0 10px;
}

@media (max-width: 480px) {
  .search-container {
    flex-direction: column;
  }
  .navcontainer {
    margin-right: 0;
  }
  .search-container input[type="text"],
  .search-container button {
    width: 100%;
    max-width: none;
    margin: 5px 0;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1 {
  font-size: 33px;
  text-align: center;
  margin: 10px 0;
  margin-right: 580px;
  flex: 1;
  
}
h2 {
  font-size: 22px;
  text-align: left;
  margin: 10px 0;
  margin-right: 610px;
  flex: 1;
}

.header-container h1 {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.login-container {
  padding: 0px;
  text-align:end;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 590px;
}


@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
h1 {
    margin-right: 0;
    
    text-align: center;
  }
  .login-container {
    padding: 0px;
    text-align: center;
    margin-top: -200px;
    margin-bottom: 100px;
    
  }
  }

  .search-container {
    margin-left: -10px;
    margin-right: -10px;
  }
  .logo {
    margin-bottom: -350px;
  }
  .view-btn
  {
    margin-left: -10px;
  }
  .login-container {
    text-align: end;
    margin-bottom: 250px;
  }
  h2 {
    margin-right: 0;
    text-align: left;
}
@media (min-width: 1024px) and (min-height: 1366px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
h1 {
    margin-left:100px;
    font-size: 25px;
    text-align: left;
  }
  .login-container {
    padding: 0px;
    text-align: end;
    margin-top: -200px;
    margin-bottom: 100px;
    
  }
  .navcontainer {
margin-left:-500px;
text-align: left; 
  }
  .search-container {
    margin-left: -10px;
    margin-right: -10px;
  }
  .logo {
    margin-bottom: -350px;
  }
  .view-btn
  {
    margin-left: -10px;
  }
  .login-container {
    text-align: end;
    margin-bottom: 250px;
    margin-left:900px;
  }
  h2 {
    margin-right: 0;
    text-align: left;
}
}