.header-container {
  border: 2px solid #32c3f1;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
h1
.search-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  margin-left: 0;
  margin-right: -100px;
}

.search-container input[type="text"],
.search-container button {
  
  width: auto;
  max-width: 200px;
  margin: 0 10px;
}

@media (max-width: 480px) {
  .search-container {
    flex-direction: column;
  }
  
  .search-container input[type="text"],
  .search-container button {
    width: 100%;
    max-width: none;
    margin: 5px 0;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1 {
  font-size: 33px;
  text-align: center;
  margin: 10px 0;
  margin-right: 580px;
  flex: 1;
  
}
h2 {
  font-size: 22px;
  text-align: left;
  margin: 10px 0;
  margin-right: 610px;
  flex: 1;
}

.header-container h1 {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.login-container {
  padding: 0px;
  text-align:end;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 590px;
}


@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
h1 {
    margin-right: 0;
    
    text-align: center;
  }
  .login-container {
    padding: 0px;
    text-align: center;
    margin-top: -200px;
    margin-bottom: 100px;
    
  }
  }
  .search-container {
    margin-left: -10px;
    margin-right: -10px;
  }
  .logo {
    margin-bottom: -350px;
  }
  .view-btn
  {
    margin-left: -10px;
  }
  .login-container {
    text-align: end;
    margin-bottom: 250px;
  }
  h2 {
    margin-right: 0;
    text-align: left;
}
@media (min-width: 1024px) and (max-height: 1366px) {
  .header-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;


  } 
 
}
