.navcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    position: relative; 
  }
  .tabs {
    display: flex;
    font-size: 14px;
    background:white;
    padding: 5px;
    border-radius: 70px;
    box-shadow: 0px 6px 12px rgba(24, 94, 224, 0.15);
  }

.tabs *{
z-index:4;
}
input[type="radio"]{
display: none;
}
.tab{
display: flex;
align-items: center;
justify-content: center;
height: 40px;
width:100px;
font-size:15px;
font-weight:600;
border-radius: 70px;
cursor:pointer;
transition:color 0.15s ease-in;

}

.badge{
display: flex;
align-items: center;
justify-content: center;
width: 2rem;
height: 2rem;
margin-left: 10px;
border-radius:50%;
background: #B7F397;

}
input[type="radio"]:checked + label{
color: #042100
}
input[type="radio"]:checked + label> .badge{
background: #042100;
color: white;
}
input[id="radio-1"]:checked ~ .slider{
transform:translateX(0%);
}
input[id="radio-2"]:checked ~ .slider{
transform:translateX(100%);
}
input[id="radio-3"]:checked ~ .slider{
transform:translateX(200%);
}
.slider{
position: absolute;
display: flex;
height: 40px;
width: 100px;
background: #27d7d4;
z-index:1;
transition: 0.25s ease-out;
border-radius: 60px;
}
body {
    padding-top: -10px;
    margin-top: -10;
    ;
  }
  .logo {
          display: relative;
          margin: 0 auto;
          max-width: 350px;
      }
  .navbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    padding: 10px 0;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .navbar li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar li.settings {
    background-color: #e7e7e7; 
  }
  .breadcrumb {
    background-color: #f8f8f8;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  .breadcrumb a {
    text-decoration: none;
    color: #0275d8;
  }
  .breadcrumb span {
    color: #6c757d;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    
    box-sizing: border-box;
  }
  .form-group textarea {
height: 50px; 
}
.btn {
display: inline-block;
padding: 08px 08px;
font-size: 13px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #33c3f0;
border: none;
border-radius: 7px;

}
.btn:hover { background-color: #33a6f0 }
.btn:active {
background-color: #33a6f0;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
.btn.cancel { background-color: #ff4136;

} 

@media (max-width: 550px) {
.navbar li { padding: 10px; }
}

